body {
	font-size: 15px;
	color: #484646;
	line-height: 24px;
	text-align: justify;
	background-color: #eee;
}
h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
.bg-white {
	background-color: #fff;
}
.top-header {
	padding: 5px 0;
	color: #666;
	border-bottom: 1px solid #e5e5e5;
}
.hot-link {
	color: #599a41;
}
.top-header .mail {
	display: inline-block;
	margin-left: 10px;
	color: #666;
}
.top-header .mail .fa {
	color: #599a41;
}
.social a {
	font-size: 24px;
	line-height: 0;
	margin-left: 8px;
}
.social .fa-facebook-square {
	color: #3b5998;
}
.social .fa-google-plus-square {
	color: #db4437;
}
.social .fa-youtube-square {
	color: #cc181e;
}
.search-form {
	margin-top: 5px;
}
.search-form form {
	position: relative;
}
.search-form .form-control {
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 40px;
}
.search-icon {
	position: absolute;
	top: 4px;
	right: 10px;
	font-size: 20px;
	color: #599a41;
}
.content-header {
	padding: 10px 0;
	background-color: #fff;
}
.navbar-ttcd {
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	background-color: #1988db;
}
.navbar-ttcd .navbar-brand {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-ttcd .navbar-nav > li > a {
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.navbar-ttcd .navbar-nav > li > a:hover, 
.navbar-ttcd .navbar-nav > li > a:focus,
.navbar-ttcd .navbar-nav > .active > a, 
.navbar-ttcd .navbar-nav > .active > a:hover, 
.navbar-ttcd .navbar-nav > .active > a:focus,
.navbar-ttcd .navbar-nav > .open > a, 
.navbar-ttcd .navbar-nav > .open > a:hover 
.navbar-ttcd .navbar-nav > .open > a:focus {
	color: #fff !important;
	background-color: #599a41 !important;
}
.navbar-ttcd .navbar-toggle .icon-bar {
    background-color: #fff;
}
.header-fixed #header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 3px #f5f5f5;
  z-index: 1000;
}
.wp-caption.alignnone {
  width: 100% !important;
  color: #1988db;
  text-align: center;
  font-style: italic;
}
.slider-lv .item h2 a {
	color: #fff;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slider-lv .slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    color: #fff;
}
.slider-lv .slick-dots {
	bottom: 16px;
}
.slider-lv .slick-dots li.slick-active button:before {
	color: #599a41;
	opacity: 1;
}
.slider-lv .item img,
.page-content img,
.section-service__more .item .img-block img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
.slider-lv .item .container {
	position: relative;
}
.slider-lv .item .slider-caption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	color: #fff;
}
.slider-lv .item .slider-caption h2 {
	margin-top: 5%;
	margin-bottom: 20px;
	font-weight: 700;
}
.list-default {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider-lv .item .slider-caption ul > li {
	margin-bottom: 15px;
	font-size: 18px;
}
.btn,
.form-control {
	border-radius: 0;
}
.btn-primary {
	border-color: #1988db;
	background-color: #1988db;
}
.sec-pad {
	padding: 50px 0;
}
.heading-graphic {
	position: relative;
	margin-top: 0;
	margin-bottom: 50px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.heading-graphic:before {
	position: absolute;
	content: "";
	top: 43px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 3px;
	margin: auto;
	background: url(../images/heading-graphic.png) no-repeat;
}
.heading-graphic.white {
	color: #fff;
}
.heading-graphic.white:before {
	background-position: 0 -3px;
} 
.heading-line {
	padding: 15px 15px 0 15px;
	border-bottom: 1px solid #eee;
}
.title-line {
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.title-line h1,
.heading-line h2,
.heading-line h3 {
    position: relative;
	display: inline-block;
	margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.title-line h1:before,
.heading-line h2:before,
.heading-line h3:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -11px;
    width: 100%;
    height: 3px;
    background-color: #1988db;
}
.title-line.green h1:before,
.heading-line.green h2:before,
.heading-line.green h3:before {
    background-color: #599a41;
}
.section-service .item {
	position: relative;
	margin-top: 70px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #fff;
}
.section-service .item .service-icon {
	margin-top: -82px;
}
.section-service__more {
	text-align: center;
	background-color: #1988db;
}
.section-service__more .item {
	margin-bottom: 20px;
}
.section-service__more .item .img-block {
	position: relative;
}
.section-service__more .item .img-block h3 {
	position: absolute;
	margin: auto;
	bottom: 10px;
	left: 0;
	right: 0;
	color: #fff;
}
.section-service__more .item .img-block h3 a {
	color: #fff;
}
.section-service__more .item .img-block h3 + p {
    margin-bottom: 0;
}
.section-service__more .item .description {
	padding: 15px;
	background-color: #fff;
}
.choose-us {
	margin-bottom: 20px;
	background-color: #fff;
}
.choose-us .content,
.project-list ul {
	padding: 15px;
}
.choose-us ul.about li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}
.choose-us ul.about li {
	position: relative;
	padding-left: 18px;
	margin-bottom: 10px;
}
.choose-us ul.about li:before {
	position: absolute;
	content: "\f0a9";
	top: 0;
	left: 0;
	color: #1988db;
	font-family: 'FontAwesome';
}
.choose-us__item {
	margin-bottom: 20px;
}
.choose-us__item .title {
	height: 40px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #1988db;
}
.choose-us__item .title .title-icon {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	text-align: center;
	font-size: 24px;
	background-color: #599a41;
}
.choose-us__item .title h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
}
.section-green {
	background-color: #599a41;
}
.form-contact {
	padding: 20px;
	background-color: #fff;
}
.form-contact {
	padding: 20px;
	background-color: #fff;
}
.form-contact h2,
.feedback h2 {
	margin-top: 0;
	margin-bottom: 15px;
}
.form-contact textarea {
	height: 90px;
}
.feedback h2 {
	color: #fff;
}
.footer {
	padding-top: 50px;
	color: #fff;
	background-color: #222;
}
.footer-link h5 {
	margin-bottom: 15px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}
.footer-link a {
	color: #fff;
}
.footer-link .fa {
	color: #1988db;
}
.nav.nav-tabs {
	border: 0;
}
.footer-link.widget iframe {
    width: 100% !important;
}
.nav.nav-tabs > li.active a { color: #599a41; }
.nav.nav-tabs > li a { padding-right: 10px; 
	text-transform: none;}
.nav.nav-tabs > li + li a{
	border-left: solid 1px;
	padding-left: 10px;
}
.tab-header {
	font-size: 16px;
}
.tab-header a {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 700;
}
.copyright {
	padding: 15px;
	color: #fff;
	background-color: #1c1c1c;
}
.breadcrumb-block {
	margin-bottom: 20px;
	background-color: #f5f5f5;
}
.breadcrumb-block .breadcrumb {
	margin-bottom: 0;
	padding-left: 0;
}
.breadcrumb-block .breadcrumb > div {
	float: left;
	padding-bottom: 8px;
}
.breadcrumb-block .breadcrumb > div > span {
	color: #777;
}
.breadcrumb-block .breadcrumb .seperator{
	padding: 0 5px;
	color: #ccc;
}
.page-content h1,
.contact-us h2 {
	margin-top: 0;
	line-height: 32px;
}
.page-content h1,
.page-content h2 {
	color: #1988db;
}
.block-share a {
	display: inline-block;
	margin-left: 5px;
	color: #888;
}
.block-timer {
	margin-bottom: 20px;
}
.sidebar {
	margin-bottom: 20px;
}
.sidebar-heading {
	position: relative;
	margin-bottom: 15px;
}
.sidebar-heading h2 {
	display: inline-block;
	margin: 0;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 700;
	color: #e96b61;
	background-color: #fff;
	text-transform: uppercase;
}
.sidebar-heading:before {
	position: absolute;
	content: "";
	top: 11px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 6px;
	background: url(../images/line.png) left bottom repeat-x;
}
.sidebar-list__service > li {
	padding-left: 12px;
	background: url(../images/item_green.gif) 0 7px no-repeat;
}
.sidebar ul > li {
	margin-bottom: 10px;
}
.sidebar ul > li > a,
.sidebar .media-body a {
	color: #212121;
}
.sidebar .media-object {
	width: 100px;
}
.sidebar .media-body {
	line-height: 18px;
}
.sidebar-list__contact {
	font-size: 16px
}
.author-comment .name {
	font-size: 16px;
	font-weight: 700;
}
.news-list ul > li {
	margin-bottom: 20px;
}
.news-list .block-timer {
	margin-bottom: 5px;
}
.news-list h2 {
	margin-top: 0;
	font-size: 18px;
}
.news-list h2 a {
	color: #1988db;
}
.news-list .news-image {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.image-center {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%;
}
.image-center img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}
.related-news {
	margin-top: 20px;
}
.related-news .item {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.related-news .item .description {
	line-height: 18px;
	font-size: 12px;
	padding: 10px;
}
.related-news .item .description a {
	color: #212121;
}
.related-news .item .description .block-timer {
	margin-bottom: 0;
}
.pagination > .active > a,
.pagination > li > .current, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > li > .current:hover,
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color: #599a41;
    border-color: #599a41;
}
.pagination > li > .current {
	color: #fff;
}
.contact-us h3 {
	font-size: 16px;
	font-weight: 700;
	color: #1988db;
}
.contact-us .input-group {
	margin-bottom: 15px;
}
.action-fixed {
	position: fixed;
	z-index: 99;
	bottom: 50px;
	right: 5px;
}
.action-fixed a {
	display: block;
	width: 45px;
	height: 45px;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}
.action-fixed .phone {
	line-height: 48px;
	font-size: 32px;
	background-color: rgba(33, 150, 243, 0.8);
}
.background-opacity {
    position: relative;
}
.background-opacity:before {
    background-color: rgba(10, 15, 28, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.slider-talk-about-us .people-item {
    text-align: center;
    color: #fff;
}
.slider-talk-about-us .people-item .people-comment {
    position: relative;
    padding: 20px;
    margin-bottom: 25px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.25);
}
.slider-talk-about-us .people-item .people-comment:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 18px solid rgba(255, 255, 255, 0.25);
    bottom: -18px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}
.slider-talk-about-us .people-item .group-peole-info .people-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 5px;
}
.slider-talk-about-us .people-item .group-peole-info .people-name {
    font-weight: 700;
}
.slider-talk-about-us .people-item .group-peole-info .people-job {
    font-size: 12px;
    text-transform: capitalize;
}
.project-list .item {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.project-list .item ul > li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 15px;
}
.project-list .item ul > li:last-child {
	margin-bottom: 0;
}
.project-list .item ul > li:before {
	position: absolute;
	content: "\f101";
	top: 0;
	left: 0;
	font-family: 'FontAwesome';
}
.project-list .item ul > li > a {
	color: #212121;
}

@media (max-width: 360px) {

	.navbar-ttcd .navbar-brand {
		max-width: 174px;
	}
	.navbar-ttcd .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.slider-lv .item .slider-caption h2 {
    	margin-bottom: 10px;
    	margin-top: 20px;
    	font-size: 16px;
    }
	.heading-graphic,
	.heading-line h2 {
		font-size: 16px;
	}
	.heading-graphic:before {
		top: 35px;
	}
	.sec-pad {
		padding: 30px 0;
	}
	.my-ability {
    	margin-bottom: 20px;
	}
	.slider-talk-about-us .people-item .people-comment {
		width: 100%;
		padding: 15px;
	}
	.choose-us__item .title h3 {
		font-size: 12px;
	}
}

@media (min-width: 414px) and (max-width: 414px) {

	.navbar-ttcd .navbar-brand {
		max-width: 174px;
	}
	.slider-lv .item .slider-caption h2 {
    	margin-bottom: 10px;
    	margin-top: 20px;
    	font-size: 16px;
    }
	.heading-graphic,
	.heading-line h2 {
		font-size: 16px;
	}
	.heading-graphic:before {
		top: 35px;
	}
	.sec-pad {
		padding: 30px 0;
	}
	.slider-talk-about-us .people-item .people-comment {
		width: 100%;
		padding: 15px;
	}
}

@media (min-width: 768px) and (max-width: 768px)  {
    .slider-lv .item .slider-caption h2 {
    	margin-bottom: 10px;
    	margin-top: 20px;
    	font-size: 20px;
    }
    .slider-lv .item .slider-caption ul > li {
    	margin-bottom: 5px;
    	font-size: 14px;
    }
}